body{
    background-image: linear-gradient(135deg, #4D8AB3, #99D6FF, #DAEAF5, #FFDAA6, #B38749);
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}
h1{
    text-align: center;
    color: #0F72B2;
    text-decoration: underline;
    font-size: 30pt;
}
h2{
    text-align: center;
    color: #0F72B2;
    text-decoration: underline;
}
p{
    text-align: justify;
}