@charset "UTF-8";

@font-face {
    font-family: 'hanken';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'hanken';
}


section{
    background-image: linear-gradient(rgb(57, 57, 247), rgb(3, 3, 158));
    border-radius: 0px 0px 20px 20px;
    padding-top: 20px;
    padding-bottom: 35px;
    color: white;
    
}

h1{
    text-align: center;
    font-size: 3em;
    padding-top: 25px;
}

h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

section > h3{
    text-align: center;
    padding-bottom: 22px;
    color: rgba(255, 255, 255, 0.562);
}

h4{
    
    margin: auto;
    text-align: center;
    font-size: .9em;
    width: 250px;
    color: rgba(255, 255, 255, 0.562);
}  


h5{
    text-align: center;
    color: rgba(255, 255, 255, 0.562);
}

.circ{
    background-image: linear-gradient( rgb(3, 3, 158), rgba(3, 3, 158, 0.075));
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.432);
    
}

article{
    padding-top: 10px;
}

article > h3{
    padding: 15px 30px;
}

article > div{
    width: 260px;
    margin: auto;
    margin-bottom: 2vh;
    padding: 10px 10px 13px 10px;
    border-radius: 12px;
    font-weight: bold;
    
    
}

.vermelho{
    background-color: rgba(245, 116, 116, 0.329);
    color: red;
}

.amarelo{
    background-color: rgba(255, 255, 0, 0.288);
    color: rgb(192, 192, 2);
    text-shadow: 5px solid black;
}

.verde{
    background-color: rgba(9, 196, 124, 0.199);
    color: green;
}

.azul{
    background-color: rgba(90, 9, 221, 0.192);
    color: blue;
}

div > img{
    transform: translate(0%, 20%);
    padding-right: 20px;
}

.txt{
    display: inline-block;
    width: 150px;
    
     
}

.dados{
    display: inline-block;
    width: 65px;
    text-align: right;
    color: rgba(0, 0, 0, 0.541);
        
}

.dados > strong{
    color: black;
}

article > a{  
    display: block;
    background-color: rgb(1, 46, 40);
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    width: 260px;
    padding: 14px;
    border-radius: 25px;
}

article > a:hover{
    background-image: linear-gradient( rgb(3, 3, 158), rgba(3, 3, 158, 0.075));
    transition-duration: .3s;
}


.attribution { 
    margin-top: vh;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }



